@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #0f1115;
  color: #e5e7eb;
}

textarea {
  color: #e5e7eb;
}

input[type="text"], input[readonly] {
  color: #e5e7eb;
}
